.cart-total-section .section-top {
  width: auto;
  text-align: left;
  margin-bottom: 40px;
}

.price-collection li {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.price-collection li h5 {
  display: inline-block;
  width: 200px;
  font-size: 22px;
  color: #222;
}

.cart-total-section .btn-fill {
  border-radius: 0;
}

.cth-first {
  width: 10%;
}

.cth-second {
  width: 20%;
}

.cth-third {
  width: 20%;
}

.cth-fourth {
  width: 30%;
}

.cth-fifth {
  width: 20%;
}