.shop-inner-product-section .slick-slide img {
  display: block;
  height: 150px;
  width: 98%;
}

.shop-inner-product-section .elivate-lg-img {
  height: 550px;
}

.shop-inner-product-section .zoomWindow {
  height: 550px;
}
