.feelings-title h3 {
  font-size: 50px;
  font-weight: 800;
}

.feelings-title {
  margin-bottom: 18px;
}

.feelings-desc p {
  text-align: justify;
  font-size: 18px;
}

.fw-name {
  font-size: 25px;
  font-weight: 800;
}

.fw-signature img {
  width: 160px;
}

.feelings-writter {
  margin-top: 30px;
}

.fw-signature {
  margin-bottom: 8px;
}

.feelings-right img {
  height: 100%;
}

.feelings-right {
  height: 600px;
}
