.single-leader {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.sl-content {
  position: absolute;
  content: "";
  bottom: -115px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 65px 20px;
  width: 80%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: 0.3s;
}

.single-leader:hover .sl-content {
  bottom: 50%;
}

.sl-social li a i {
  padding: 5px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}

.sl-social li a i:hover {
  color: #FD5F25;
}

.sl-name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 4px;
}

.sl-position {
  color: #fff;
  margin-bottom: 15px;
}
