.post-form .form-control {
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding: 0;
}

.bd-title p {
  font-weight: 800;
  font-size: 18px;
}

.post-form .form-group {
  margin-bottom: 30px !important;
}
