.service-icon i {
  font-size: 30px;
  margin-bottom: 18px;
  font-weight: 600;
}

.single-service {
  padding: 18px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.service-title {
  text-transform: capitalize;
}
